<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hastanerandevusistemi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".randevualma"></activity>
        <activity android:name=".hastaanasayfa" />
        <activity android:name=".bolumsil" />
        <activity android:name=".bolumguncelle" />
        <activity android:name=".bolumekle" />
        <activity android:name=".hastaneguncelle" />
        <activity android:name=".hastanesil" />
        <activity android:name=".hastaneekle" />
        <activity android:name=".doktorguncelle" />
        <activity android:name=".doktorsil" />
        <activity android:name=".doktorekle" />
        <activity android:name=".doktor" />
        <activity android:name=".bolum" />
        <activity android:name=".hastane" />
        <activity android:name=".admin" />
        <activity android:name=".kayitol" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>